<router-outlet></router-outlet>
<!--<div class="footer text-center">-->
    <!--<div>-->
        <!--<ul fxLayoutAlign="center center" fxLayoutGap="20px" fxLayout="column" fxLayout.gt-sm="row" class="nav-bar">-->
            <!--<li><a routerLink="home">Home</a></li>-->
            <!--<li><a routerLink="agreement">User Agreement</a></li>-->
            <!--<li><a routerLink="policy">Privacy Policy</a></li>-->
            <!--<li>18 U.S.C.2257 Record Keeping Requirements Compliance Statement</li>-->
            <!--<li>Affiliate program</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->
